@model List<TestimonialViewModel>

<h2>How much our customers love us ...</h2>

<div class="row">
    @if (Model.Count == 0)
    {
        <div class="col-md-12">
            <p>Be the first to write nice things.</p>
        </div>

    }
    else
    {
        @foreach (var testimonial in Model)
        {
            <div class="col-md-4">
                @testimonial.Comment
            </div>
        }
    }
</div>

