@model List<TestimonialViewModel>

<h2>How much our customers love us ...</h2>

<div class="row">
    @foreach (var testimonial in Model)
    {
        <div class="col-md-4">
            @testimonial.Comment
        </div>
    }
</div>

