@model List<SecretViewModel>

<div class="secrets-list">
    @foreach (var secret in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @secret.Key
            </div>
            <div class="panel-body">
                @secret.Value
            </div>
        </div>
    }
</div>