@model SecretListAndNewViewModel

@{
    ViewBag.Title = "Secrets";
    Layout = "_Layout";
}

<h2>Your Secrets</h2>
<div class="row">
    <div class="col-md-9">
        @Html.Partial("_ListSecrets", Model.Secrets)
    </div>
    <div class="col-md-3">
        @Html.Partial("_AddSecret", Model.NewSecret)
    </div>
</div>
