@using Microsoft.AspNetCore.Identity
@using WeHaveSecrets.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

    @if (SignInManager.IsSignedIn(User))
    {
        <li><a asp-area="" asp-controller="Secrets" asp-action="Index" class="secrets-link">Secrets</a></li>

        @if (User.IsInRole("ADMIN"))
        {
            <li><a asp-area="" asp-controller="Admin" asp-action="Index" class="secrets-link">Admin</a></li>
        }
    }
</ul>