@{
    ViewData["Title"] = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Administration</h2>
<div class="row">
    <div class="col-md-12">
        <a asp-controller="Admin" asp-action="SecretsFor">See secrets for ...</a>
    </div>
</div>