@model SecretsForViewModel

@{
    ViewBag.Title = "Show Secrets For";
    Layout = "_Layout";
}

<h2>Show Secrets For</h2>
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="Admin" asp-action="SecretsFor">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <input type="submit" value="Search" id="SearchButton" name="SearchButton" class="btn btn-primary" />
        </form>
    </div>
</div>

@if (Model.Secrets != null && Model.Secrets.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("_ListSecrets", Model.Secrets)
        </div>
    </div>
}
