@model NewSecretViewModel

<div class="panel panel-primary">
    <div class="panel-heading">
        Add New Secret
    </div>
    <div class="panel-body">
        <form method="post" asp-controller="Secrets" asp-action="Index">
            <div class="form-group">
                <label asp-for="Key"></label>
                <input asp-for="Key" class="form-control" />
                <span asp-validation-for="Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <input type="submit" value="Save" id="SaveButton" name="SaveButton" class="btn btn-primary" />
        </form>
    </div>
</div>

