@model SecretViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Key
    </div>
    <div class="panel-body">
        @Model.Value
    </div>
    <div class="panel-footer">
        Need to share with non-members?  Use the <a asp-controller="Secret" asp-action="PublicShare" asp-route-id="@Model.Id">Public Share</a>
    </div>
</div>
